/* Colors */

:root {
    --background_blue: #0055aa;
    --background_purple: #6600cc;
    --navbar_background_blue: rgba(0, 85, 170, 0.9);
    --navbar_background_purple: rgba(102, 0, 204, 0.9);
    --border_color: grey;
    --font_color: #f5f5f5;
    --button_color: #bf00ff;
    --button_background: #e1e1e1;
    --picture_border: #383838;
    --logo_width: 150px;
    --logo_height: 150px;
}

/* Page principale */

body {
    font-family: "Roboto";
}

.fond {
    background: linear-gradient(to right, var(--background_blue), var(--background_purple));
}

/* Header */

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background: linear-gradient(90deg, var(--navbar_background_blue), var(--navbar_background_purple));
}

#signature {
    width: 100px;
    justify-content: start;
}

.menu {
    display: flex; /*  Mise à l'horizontal*/
    padding: 0;
    gap: 40px; /*  Espace entre les balises*/
    justify-content: flex-end;
    margin-left: 6.9%;
    margin-right: 7.5%;
}

.menu li {
    list-style-type: none; /* Suppression des puces */
}

.menu a {
    color: var(--font_color);
    display: block;
    text-decoration: none;
    min-width: 50px;
    font-size: x-large;
}

.menu #accueil {
    text-decoration: underline;
}

.menu a:hover {
    color: aqua;
}

.menu .logo {
    margin-right: auto;
}

/* Contenu de la page */

#saut_separateur {
    display: block;
    margin-bottom: 100px;
}

#saut_menu {
    display: block;
    margin-top: 60px;
}

/* Accueil */

#accueil_section {
    min-height: 80vh; /* Taille min => 80% du navigateur*/
}

#nom{
    display: flex;
    color: var(--font_color);
    justify-content: center;
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 10px;
}

#metier {
    display: flex;
    color: var(--font_color);
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
}

#saut_presentation {
    display: block;
    margin-top: 60px;
}

#photo-pro {
    width: 180px;
    margin-left: 12%;
    margin-right: 30px;
    border: 5px solid var(--picture_border);
}

#contenu_accueil_div {
    margin-left: 2.5%;
}

.presentation {
    display: flex; 
    margin-left: 100px;
    margin-right: 400px;
}

.presentation p {
    font-size: 20px;
    color: var(--font_color);
    text-align: justify;
}

.boutons {
    text-decoration: none;
    padding: 8px 10px;
    text-align: center;
    border-radius: 60px;
    background: var(--button_background);
    border: 2px solid var(--button_color);
    color: var(--button_color);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer; /* Affiche une main au moment du survol */
    transition: all 0.3s ease; /* Crée une transition au moment du survol*/
}

.boutons:hover {
    color: var(--font_color);
    background: var(--button_color);
}

/* Projets */
.projets {
    width: 100vh;
}

.section_titres {
    display: flex;
    justify-content: center;
    color: var(--font_color);
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 2%;
}

#liste_projets {
    display: flex;
    justify-content: space-between;
}

#projet_proxima_div {
    text-align: center;
    border: 3px solid var(--border_color);
    margin-left: 6.7%;
    margin-right: 5%;
    padding-bottom: 20px;
}

#projet_proxima_titre {
    color: var(--font_color);
    font-size: 18px;
    font-weight: bold;
}

#projet_proxima_resume {
    color: var(--font_color);
}

#projet_proxima_logo {
    width: var(--logo_width);
    height: var(--logo_height);
}

#projet_proxima_resume {
    margin: 10px;
}

#the_library_div {
    text-align: center;
    border: 3px solid var(--border_color);
    margin-right: 5%;
    padding-bottom: 20px;
}

#the_library_titre {
    color: var(--font_color);
    font-size: 18px;
    font-weight: bold;
}

#the_library_resume {
    color: var(--font_color);
}

#the_library_logo {
    width: var(--logo_width);
    height: var(--logo_height);
}

#the_library_resume {
    margin: 10px;
}

#prepa_deck_div {
    text-align: center;
    border: 3px solid var(--border_color);
    margin-right: 6.7%;
    padding-bottom: 20px;
}

#prepa_deck_titre {
    color: var(--font_color);
    font-size: 18px;
    font-weight: bold;
}

#prepa_deck_resume {
    color: var(--font_color);
}

#prepa_deck_logo {
    width: var(--logo_width);
    height: var(--logo_height);
}

#prepa_deck_resume {
    margin: 10px;
}

#suivi_etudiant_div {
    text-align: center;
    border: 3px solid var(--border_color);
    margin-right: 6.7%;
    padding-bottom: 20px;
}

#suivi_etudiant_titre {
    color: var(--font_color);
    font-size: 18px;
    font-weight: bold;
}

#suivi_etudiant_resume {
    color: var(--font_color);
}

#suivi_etudiant_logo {
    width: var(--logo_width);
    height: var(--logo_height);
}

#suivi_etudiant_resume {
    margin: 10px;
}

/* Compétences */

#saut_competences {
    display: block;
    margin-top: 5%;
}

#competences {
    display: flex;
    justify-content: space-between;
    margin-left: 6.5%;
    margin-right: 6.6%;
}

#python_logo {
    height: 150px;
}

#python_texte {
    display: flex;
    justify-content: center;
    color: var(--font_color);
    font-size: 18px;
    font-weight: bold;
    margin-top: -5.8%;
}

#html_logo {
    width:128px; 
    height:128px;
}

#html_texte {
    display: flex;
    justify-content: center;
    color: var(--font_color);
    font-size: 18px;
    font-weight: bold;
}

#css_logo {
    width:128px; 
    height:128px;
}

#css_texte {
    display: flex;
    justify-content: center;
    color: var(--font_color);
    font-size: 18px;
    font-weight: bold;
}

#php_logo {
    width:128px; 
    height:128px;
}

#php_texte {
    display: flex;
    justify-content: center;
    color: var(--font_color);
    font-size: 18px;
    font-weight: bold;
}

#java_logo {
    width:128px; 
    height:128px;
}

#java_texte {
    display: flex;
    justify-content: center;
    color: var(--font_color);
    font-size: 18px;
    font-weight: bold;
}

#saut_contact {
    display: block;
    margin-top: 5%;
}

#form_div {
    display: flex;
    justify-content: center;
    padding-bottom: 130px;
}

.input_form {
    display: flex;
    font-size: medium;
    border-radius: 6px;
    height: 30%;
    width: 500px;
}

#form_textarea {
    border-radius: 6px;
    height: 80%;
    width: 500px;
    font-size: 16px;
    resize: none;
}

#sending_button_div {
    display: flex;
    justify-content: center;
}

#sending_button {
    height: 50px;
    width: 300px;
    border-radius: 6px;
    font-size: 16px;
}

/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1.5px solid var(--border_color);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5%;
    padding-top: 10px;
}

small li {
    list-style-type: none;
    height: 20px;
}

small a {
    text-decoration: none;
    color: var(--font_color);
    font-size: 16px;
}

#li-fast-nav {
    margin-bottom: 10px;
}

#fast-nav {
    font-size: 18px;
    color: var(--font_color);
    text-decoration: underline;
}

small a:hover {
    color: aqua;
}

.footer_icons {
    display: flex;
    justify-content: end;
    gap: 5px;
}

#github-icon {
    width: 40px;
    border: 3.5px solid var(--font_color);
    border-radius: 40px;
}

#linkedin-icon {
    width: 40px;
    border: 3.5px solid var(--font_color);
    border-radius: 40px;
}

#copyright {
    color: var(--font_color);
}